.standarts {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: #14191D;

  @media(max-width: 1023px) {
    flex-direction: column;
    height: auto;
    padding: 24px;
  }

  @include media-md('down') {
    padding: 16px;
  }


  &-head {
    padding: 64px 24px 24px 24px;

    @media(max-width: 1023px) {
      padding: 0;
    }

    &__subtitle {
      font-size:  10px;
      line-height: 13px;
      letter-spacing: 1px;
      color:#5C656D;

      @media(max-width: 1023px) {
        margin-bottom: 16px;
      }
    }
    
  }
}

.standarts-sort {

  @media(max-width: 1023px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
    margin-bottom: 24px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    font-family: 'SB Sans Display', sans-serif;
    font-size: 36px;
    line-height: 38px;
    letter-spacing: -1px;
    color: #333F48;
    padding: 30px 0;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;

    @media(max-width: 1023px) {
      padding: 0;
      margin-right: 16px;
    }

    @include media-md('down') {
      font-size: 28px;
      line-height: 30px;
    }

    &.is-on {
      color: $white;
    }
  }
}



.standarts-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #9BA1AA;
  background-color: #1F262B;

  @media(max-width: 1023px) {
    height: 149px;
  }

  @include media-md('down') {
    height: 100px;
  }

  &--empty {
    background-color: #14191D;

    @media(max-width: 1023px) {
      display: none;
    }
  }

  &.is-hidden {
    background-color: transparent;

    @media(max-width: 1023px) {
      display: none;
    }
  }

  &.is-balanced,
  &.is-optimum,
  &.is-advanced,
  &.is-superb {
    background: transparent;
    

    .standarts-item__title,
    .standarts-item__icon {
      opacity: 0;

      @media(max-width: 1023px) {
        opacity: .3;
      }
    }
  }

  &.is-superb {
    @media(max-width: 1023px) {
      order: 100;
    }
  }
  &.is-advanced {
    @media(max-width: 1023px) {
      order: 80;
    }
  }
  &.is-optimum {
    @media(max-width: 1023px) {
      order: 50;
    }
  }



  &__title {
    margin-top: 24px;
    font-size: 8px;
    letter-spacing: -0.5px;

    @include media-md('down') {
      margin-top: 16px;
    }
  }

  &__icon {
    @include media-md('down') {
      width: 20px;
      height: 20px;
    }
  }
}

.standarts-list {
  background-color: rgba(#1F262B, .2);
  max-width: 60%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  @media(max-width: 1023px) {
    grid-template-columns: repeat(5, 1fr);
    max-width: 100%;
    background-color: rgba(#1F262B, .3);
  }

  @include media-md('down') {
    grid-template-columns: repeat(3, 1fr);
    height: 550px;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &.is-balanced {

    .standarts-item.is-balanced {
      background-color: #107F8C;
      
      .standarts-item__title {
        opacity: 1;
      }

      .standarts-item__icon {
        opacity: 1;
      }
    }
  }
  &.is-optimum {

    .standarts-item.is-optimum {
      background-color: #107F8C;
      
      .standarts-item__title {
        opacity: 1;
      }

      .standarts-item__icon {
        opacity: 1;
      }
    }
  }
  &.is-advanced {

    .standarts-item.is-advanced {
      background-color: #107F8C;

      @media(max-width: 1023px) {
        order: 50;
      }
      
      .standarts-item__title {
        opacity: 1;
      }

      .standarts-item__icon {
        opacity: 1;
      }
    }
  }
  &.is-superb {

    .standarts-item.is-superb {
      background-color: #107F8C;
      
      .standarts-item__title {
        opacity: 1;
      }

      .standarts-item__icon {
        opacity: 1;
      }
    }
  }
}
