*,
*:before,
*:after {
    box-sizing: border-box;
}

.bx-core-window * {
    box-sizing: content-box;
    vertical-align: top;
}

//html {

    //Добавляет отступ под скролл справа по умолчанию.
    //Полезно при открытии модалки на весь экран.
    //
    //scrollbar-gutter: stable;

//}

body {
    font: 400 #{$font-size-base}/#{$font-line-base} $font-family-base;
    color: $color;
    background-color: $bg;

}

.container {
    width: 100%;
    max-width: $container-width;
    padding-left: $spacer;
    padding-right: $spacer;
    margin-left: auto;
    margin-right: auto;
}
    

