.pop {
    padding: 40px 70px;
    overflow: visible;
    background: #F8F8F8;
}
.pop-title {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.3em;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}

.pop-form {
    max-width: 470px;
}